:root {
    --main-block-space-vert: 20px;
    --main-block-border-thickness: 1px;
    --main-border-thickness: 45px;
    --decor-box: 45px;

    --main-block-border-col: black;

    --nav-item-space: 30px;
    --nav-item-padding: 8px;
    --nav-item-border-thickness: 1px;

    --nav-item-inactive-col: black;
    --nav-item-border-col: var(--nav-item-inactive-col);
    --nav-item-inactice-text-col: var(--nav-item-inactive-col);

    --grid-project-gap: 20px;
    --grid-project-card-gap: 6px;
    --grid-project-card-padding: 6px;
    --grid-project-card-width: 330px;
    --grid-project-card-height: 150px;
    --grid-project-title-padding: 2px;

    font-family: mainFont;
}

body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
}

.app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1120px;
    min-height: 100vh;
}

@font-face {
    font-family: gothicDecor;
    src: url(/font/BraveThornRegular.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(/font/Lora-Regular.ttf);
}

@font-face {
    font-family: mainBold;
    src: url(/font/Lora-Bold.ttf);
}

.project-grid {
    justify-content: center;
    width: 100%;
    gap: var(--grid-project-gap);
    display: flex;
    flex-wrap: wrap;
}

.project:hover::before {
    opacity: 1;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1), 0 0 37px 0 rgba(0, 0, 0, 1);
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.project:hover, .project:focus {
    transform: scale(1.03);
}

.project {
    position: relative;
    transition: all 0.3s ease-in-out;
    width: var(--grid-project-card-width);
    height: var(--grid-project-card-height);
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: black;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: calc(var(--grid-project-card-height)) auto;
}

.project-info {
    padding-right: var(--grid-project-card-padding);
    padding-top: var(--grid-project-card-padding);
    padding-bottom: var(--grid-project-card-padding);
    padding-left: var(--grid-project-card-gap);
    background-color: whitesmoke;
}

.project-image-container {
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.project-image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.project-name {
    padding-bottom: var(--grid-project-title-padding);
    width: 100%;
    font-size: larger;
    display: block;
    margin: 0;
}

.project-description {
    width: 100%;
    font-size: small;
    display: block;
    margin: 0;
    text-overflow: ellipsis;
}

p.article-p {
    font-weight: lighter;
}

p.article-p::first-letter {
    font-size: 2.5rem;
    color: brown;
    font-family: mainBold;
}

.blog-article {
    margin: auto;
    font-size: 1.4rem;
    max-width: 64rem;
}

.site-content {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-items {
    border-bottom: var(--main-border-thickness) solid;
    border-left: var(--main-border-thickness) solid;
    border-right: var(--main-border-thickness) solid;
    border-image: url('/img/decor/site-border.svg') 30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav::after {
    width: 200px;
    color: transparent;
    background-image: url('/img/decor/site-top-border-decor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "A";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
                translateY(calc(var(--main-border-thickness) / -2));
}

.site-nav {
    box-sizing: border-box;
    margin-top: var(--main-block-space-vert);
    width: 100%;
    position: relative;
}

.nav-item {
    position: relative;
    font-size: large;
}

.nav-link {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    padding: var(--nav-item-padding) var(--nav-item-space);
    color: var(--nav-item-inactice-text-col);
    text-decoration: none;
}

.nav-link-body {
    position: relative;
}

.nav-link .nav-link-body::before {
    box-sizing: border-box;
    content: "A";
    color: transparent;
    position: absolute;
    border-bottom: 2px solid black;
    width: 100%;
    bottom: -8px;

    transform: scaleX(0.0);
    /* cubic-bezier(.68,-0.55,.27,1.55) -- alternative */
    transition: all 0.3s ease-in-out;
}

.nav-link:hover .nav-link-body::before {
    transform: scaleX(1.0);
}

.nav-link.active .nav-link-body::before {
    border-color: brown;
    transform: scaleX(1.0);
}

.nav-item:last-child {
    margin-right: var(--nav-item-padding);
}

.nav-item:first-child {
    margin-left: var(--nav-item-padding);
}

.site-footer {
    font-size: smaller;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: var(--main-block-space-vert);
    /* ===== */
    border-top: var(--main-border-thickness) solid;
    border-left: var(--main-border-thickness) solid;
    border-right: var(--main-border-thickness) solid;
    border-image: url('/img/decor/site-border.svg') 30;
    text-align: center;
}

.site-footer::before {
    width: 200px;
    color: transparent;
    background-image: url('/img/decor/site-bot-border-decor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "A";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
                translateY(calc(var(--main-border-thickness) / -2));
}

.social-links {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.social-item {
    box-sizing: content-box;
    margin: var(--grid-project-gap);
    transition: all 0.3s ease-in-out;
    position: relative;
    width: 200px;
    height: 230px;
    position: relative;
}

.social-link {
    padding: 30px;
    position: absolute;
    color: black;
    font-weight: bold;
    text-decoration: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    border-radius: 30px;
}

.social-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1), 0 0 37px 0 rgba(0, 0, 0, 1);
    background-color: black;
    transition: opacity 0.3s ease-in-out;
}

.social-item:hover::before {
    opacity: 1;
}

.social-item:hover, .social-item:focus {
    transform: scale(1.03);
}

.social-image {
    color: whitesmoke;
    height: 100px;
    overflow: hidden;
    object-position: center;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}