.tag-rust {
	--col: rgb(247, 76, 0);
	color: var(--col);
	border-color: var(--col);
}

.tag-cat {
	--col: rgb(77, 136, 255);
	color: var(--col);
	border-color: var(--col);
}

.tag-money {
	--col: rgb(107, 255, 17);
	color: var(--col);
	border-color: var(--col);
}

.tag-rust:hover {
	--col: rgb(247, 76, 0);
	color: black;
	background-color: var(--col);
}

.tag-cat:hover {
	--col: rgb(77, 136, 255);
	color: black;
	background-color: var(--col);
}

.tag-money:hover {
	--col: rgb(107, 255, 17);
	color: black;
	background-color: var(--col);
}
