:root {
    --main-block-space-vert: 20px;
    --body-horiz-margin: 80px;
    --main-block-border-thickness: 1px;
    --main-border-thickness: 45px;
    --decor-box: 45px;

    --main-block-border-col: black;

    --nav-item-space: 10px;
    --nav-item-padding: 5px;
    --nav-item-border-thickness: 1px;

    --nav-item-inactive-col: black;
    --nav-item-border-col: var(--nav-item-inactive-col);
    --nav-item-inactice-text-col: var(--nav-item-inactive-col);
}

body {
    margin-left: var(--body-horiz-margin);
    margin-right: var(--body-horiz-margin);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.site-content {
    width: 100%;
    height: 100%;
    flex: 1;
}

.nav-items {
    border-bottom: var(--main-border-thickness) solid;
    border-left: var(--main-border-thickness) solid;
    border-right: var(--main-border-thickness) solid;
    border-image: url('/site-border.svg') 30;
    /* border-bottom: var(--main-block-border-thickness) solid var(--main-block-border-col); */
    /* padding-bottom: var(--main-block-space-vert); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.site-nav::after {
    color: transparent;
    background-image: url('/sit-border-decor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "AAAA";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
                translateY(calc(var(--main-border-thickness) / -2));
}

.nav-items::before {
    color: transparent;
    content: "A";
    height: var(--decor-box);
    width: var(--decor-box);

    background-image: url('/site-decor-left.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.nav-items::after {
    color: transparent;
    content: "A";
    height: var(--decor-box);
    width: var(--decor-box);

    background-image: url('/stie-decor-right.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.site-nav {
    box-sizing: border-box;
    width: 100%;
    margin-top: var(--main-block-space-vert);
    margin-bottom: var(--main-block-space-vert);
    /* ===== */
}

.nav-item {
    padding: var(--nav-item-padding);
    margin-left: var(--nav-item-space);
    margin-right: var(--nav-item-space);

    text-decoration: none;
    color: var(--nav-item-inactice-text-col);
    border: var(--nav-item-border-thickness) solid var(--nav-item-border-col);
}

.site-footer {
    box-sizing: border-box;
    width: 100%;
    margin-top: var(--main-block-space-vert);
    margin-bottom: var(--main-block-space-vert);
    /* ===== */
    border-top: var(--main-block-border-thickness) solid var(--main-block-border-col);
    padding-top: var(--main-block-space-vert);
    text-align: center;
}