:root {
	--frame-color: white;
	--frame-thicc: 3px;
	--navig-item-col: white;
	--block-horiz-margin: 40px;
	--border-thicc: 1.5px;
	--border-color: rgb(185, 185, 185);
	--white-col: rgb(248, 248, 248);

	background-color: rgb(0, 8, 10);
	--panel-col: rgb(0, 20, 33);

	color: white;
	font-family: Verdana, sans-serif;
	font-size: 16px;
}

article.theArticle {
	margin-top: 40px;
	display: grid;
	grid-template-columns: minmax(200px, 1fr);
	justify-items: center;
	grid-row-gap: 30px;
}

article.theArticle div.md {
	line-height: 1.5;
	text-align: justify;
	width: 50%;
}

.md pre {
	border-left: 8px solid var(--white-col);
	padding-left: 5px;
	padding-right: 5px;
	background-color: var(--panel-col);
}

.md p code {
	border-radius: 5px;
	padding: 2px 5px;
	background-color: var(--panel-col);
}

footer {
	margin-left: var(--block-horiz-margin);
	margin-right: var(--block-horiz-margin);
	margin-top: 20px;
	border-top: var(--border-thicc) solid var(--white-col);
	padding-top: 10px;
	text-align: center;
}

header {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
}

header nav::after {
	border: 4px solid var(--white-col);
	content: " ";
	margin: 0;
	width: 110%;
	height: 140%;
	display: block;
	position: relative;
	box-sizing: border-box;
	left: -5%;
	top: -125%;
	z-index: -1;
	transform: translateX(-15px) translateY(-5px) translateZ(180px) rotateY(35deg) rotateZ(3.1deg);
}

header nav {
	perspective: 30cm;
	perspective-origin: 0vw 0vw;
	display: inline-block;
	
	position: relative;
	--header-horiz-margin: 60px;
	margin-left: var(--header-horiz-margin);
	margin-right: var(--header-horiz-margin);
	text-align: center;
  margin-top: 60px;
	margin-bottom: 20px;

	padding: 6px 9px;
}

header nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	padding-left: 40px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}

header nav ul li {
	display: inline;
	margin-left: 1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

header nav ul li .navig {
	transition: 0.2s;
	margin-right: 20px;
	padding: 5px 8px;
  border: 0.7px solid var(--white-col);
	text-decoration: none;
	color: var(--navig-item-col);
	font-family: "Arial Narrow", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.button {
	transition: 0.2s;
	transition-timing-function: ease-in;
	text-decoration: none;
}

header nav ul li a:hover {
	background-color: var(--white-col);
	color: black;
}

.art-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: minmax(200px, 1fr);
	justify-items: center;
	grid-row-gap: 30px;
}

.art-container::after {
	content: " ";
	left: -10px;
	top: calc(-100% - 10px);
	position: relative;
	display: block;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	box-sizing: border-box;
	z-index: -1;
	background-color: var(--panel-col);
}

.art-container {
	width: 50%;
	color: var(--white-col);
	padding: 20px 20px;
	border: 0.7px solid var(--white-col);
}

.art-container .info .title:hover {
	background-color: var(--white-col);
	color: black;
}

.art-container .info * {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.art-container .info .title {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: var(--white-col);
	font-weight: bold;
}

.art-container .info .date {
	font-family: Calibri, sans-serif;
}

.art-container .summary {
	text-align: justify;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-wrap: break-word;
}

.art-container .tag-container {
	margin: 0 0;
	padding-bottom: 10px;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	border-top: 0.7px solid var(--white-col);
	justify-content: flex-start;
	flex-wrap: wrap;
}

.art-container .tag-container li {
	margin-right: 20px;
	margin-top: 20px;
}

.art-container .tag-container li a {
	font-weight: bold;
	padding: 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}

.art-container .info {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	border-bottom: 0.7px solid var(--white-col);
}
