.loading-articles.v-leave-active {
	position: absolute;
	transition: opacity 0.5s ease;
}

.loading-articles.v-leave-to {
	opacity: 0;
}

.art-container.v-enter-active {
	transition: all 0.5s ease;
}

.art-container.v-enter-from {
	opacity: 0;
	transform: translateY(30px);
}

.art-list {
	margin-top: 40px;
	display: grid;
	grid-template-columns: minmax(200px, 1fr);
	justify-items: center;
	grid-row-gap: 30px;
}

.art-container::after {
	content: " ";
	left: -10px;
	top: calc(-100% - 10px);
	position: relative;
	display: block;
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	box-sizing: border-box;
	z-index: -1;
	background-color: var(--panel-col);
}

.art-container {
	width: 50%;
	color: var(--white-col);
	padding: 20px 20px;
	border: 0.7px solid var(--white-col);
}

.art-container .info .title:hover {
	background-color: var(--white-col);
	color: black;
}

.art-container .info * {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.art-container .info .title {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	color: var(--white-col);
	font-weight: bold;
}

.art-container .info .date {
	font-family: Calibri, sans-serif;
}

.art-container .summary {
	text-align: justify;
	padding-top: 15px;
	padding-bottom: 15px;
	overflow-wrap: break-word;
}

.art-container .tag-container {
	margin: 0 0;
	padding-bottom: 10px;
	padding-left: 0;
	list-style-type: none;
	display: flex;
	border-top: 0.7px solid var(--white-col);
	justify-content: flex-start;
	flex-wrap: wrap;
}

.art-container .tag-container li {
	margin-right: 20px;
	margin-top: 20px;
}

.art-container .tag-container li a {
	font-weight: bold;
	padding: 5px 5px;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
}

.art-container .info {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	border-bottom: 0.7px solid var(--white-col);
}
