:root {
    --main-block-space-vert: 20px;
    --main-block-border-thickness: 1px;
    --main-border-thickness: 45px;
    --decor-box: 45px;

    --main-block-border-col: black;

    --nav-item-space: 12px;
    --nav-item-padding: 6px;
    --nav-item-border-thickness: 1px;

    --nav-item-inactive-col: black;
    --nav-item-border-col: var(--nav-item-inactive-col);
    --nav-item-inactice-text-col: var(--nav-item-inactive-col);

    --grid-project-gap: 20px;
    --grid-project-card-gap: 6px;
    --grid-project-card-padding: 6px;
    --grid-project-card-width: 330px;
    --grid-project-card-height: 150px;
    --grid-project-title-padding: 2px;

    --link-color: rgb(0, 0, 140);

    font-family: mainFont;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: center;
}

.app {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    padding-left: 2px;
    padding-right: 2px;
    max-width: 1120px;
    min-height: 100vh;
}

@font-face {
    font-family: detail;
    src: url(/font/SourceSerif4_18pt-Light.ttf);
}

@font-face {
    font-family: mainFont;
    src: url(/font/Lora-Regular.ttf);
    /* src: url(/font/Andika-Regular.ttf); */
}

@font-face {
    font-family: mainBold;
    src: url(/font/Lora-Bold.ttf);
}

@font-face {
    font-family: read;
    src: url(/font/SourceSerif4_18pt-Regular.ttf);
}

.project-grid {
    justify-content: center;
    width: 100%;
    gap: var(--grid-project-gap);
    display: flex;
    flex-wrap: wrap;
}

.project:hover::before {
    opacity: 1;
}

.project::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1), 0 0 37px 0 rgba(0, 0, 0, 1);
    background-color: black;
    transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.project:hover, .project:focus {
    transform: scale(1.03);
}

.project {
    position: relative;
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    width: var(--grid-project-card-width);
    height: var(--grid-project-card-height);
}

.project-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-decoration: none;
    color: black;
    display: grid;
    border-radius: 10px;
    overflow: hidden;
    grid-template-columns: calc(var(--grid-project-card-height)) auto;
}

.project-info {
    padding-right: var(--grid-project-card-padding);
    padding-top: var(--grid-project-card-padding);
    padding-bottom: var(--grid-project-card-padding);
    padding-left: var(--grid-project-card-gap);
    background-color: whitesmoke;
}

.project-image-container {
    box-sizing: border-box;
    height: 100%;
    position: relative;
}

.project-image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.project-name {
    padding-bottom: var(--grid-project-title-padding);
    width: 100%;
    font-weight: bold;
    font-size: large;
    display: block;
    margin: 0;
}

.project-description {
    width: 100%;
    font-size: small;
    font-family: detail;
    display: block;
    margin: 0;
    text-overflow: ellipsis;
}

.site-content {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.nav-items {
    border-bottom: var(--main-border-thickness) solid;
    border-left: var(--main-border-thickness) solid;
    border-right: var(--main-border-thickness) solid;
    border-image: url('/img/decor/site-border.svg') 30;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.site-nav::after {
    width: 200px;
    color: transparent;
    background-image: url('/img/decor/site-top-border-decor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "A";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
                translateY(calc(var(--main-border-thickness) / -2));
}

.site-nav {
    box-sizing: border-box;
    margin-top: var(--main-block-space-vert);
    width: 100%;
    position: relative;
}

.nav-item {
    position: relative;
    font-size: large;
    margin-right: var(--nav-item-padding);
    margin-left: var(--nav-item-padding);
}

.nav-link {
    position: relative;
    display: inline-block;
    box-sizing: content-box;
    padding: var(--nav-item-padding) var(--nav-item-space);
    color: var(--nav-item-inactice-text-col);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
}

.nav-link::after {
    box-sizing: border-box;
    content: "";
    color: transparent;
    position: absolute;
    border-bottom: 2px solid black;
    bottom: 0;
    top: 0;
    left: var(--nav-item-space);
    right: var(--nav-item-space);

    transform: scaleX(0.0);
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav-link:hover:after {
    transform: scaleX(1.0);
}

.nav-link.active::after {
    border-color: brown;
    transform: scaleX(1.0);
}

.site-footer {
    font-family: detail;
    font-size: smaller;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: var(--main-block-space-vert);
    /* ===== */
    border-top: var(--main-border-thickness) solid;
    border-left: var(--main-border-thickness) solid;
    border-right: var(--main-border-thickness) solid;
    border-image: url('/img/decor/site-border.svg') 30;
    text-align: center;
}

.site-footer::before {
    width: 200px;
    color: transparent;
    background-image: url('/img/decor/site-bot-border-decor.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    content: "A";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%)
                translateY(calc(var(--main-border-thickness) / -2));
}

.social-links {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 100%;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.social-item {
    box-sizing: content-box;
    margin: var(--grid-project-gap);
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    position: relative;
    width: 200px;
    height: 230px;
    position: relative;
}

.social-link {
    padding: 30px;
    position: absolute;
    color: black;
    font-weight: bold;
    text-decoration: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: larger;
    border-radius: 30px;
}

.social-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.2;
    border-radius: 30px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 1), 0 0 37px 0 rgba(0, 0, 0, 1);
    background-color: black;
    transition: opacity 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

.social-item:hover::before {
    opacity: 1;
}

.social-item:hover, .social-item:focus {
    transform: scale(1.03);
}

.social-image {
    color: whitesmoke;
    height: 100px;
    overflow: hidden;
    object-position: center;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.article {
    box-sizing: border-box;
    padding-left: 3px;
    padding-right: 3px;
    max-width: min(100%, 700px);
    margin: auto;
    width: 100%;
}

.article h1 {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    text-transform: capitalize;
}

.article ul {
    margin: 0;
    margin-top: 10px;
    padding-left: 30px;
}

.article ul li {
    margin-top: 2px;
}

.article h1 .zola-anchor {
    font-family: mainFont;
    font-size: 40px;
    text-decoration: none;
    color: black;
}

.article p > code {
    padding: 4px;
    font-family: monospace;
    font-weight: 100;
    font-size: 16px;
    border-radius: 6px;
    background-color: #eeeeee;
}

.article pre {
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.article code * {
    font-family: monospace;
    font-weight: 100;
}

.article pre code * {
    font-size: 16px;
}

.article h1:before {
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    bottom: -3px;
    position: absolute;
    top: 0;
    font-weight: bold;
    border-bottom: 3px solid black;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateX(-50%) scaleX(0);
}

.article h1:hover:before {
    transform: translateX(0) scaleX(1);
}

.article h1:target:before {
    transform: translateX(0) scaleX(1);
}

.article h1 a::before {
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: 50% calc(50% + 5px);
    background-size: contain;
    width: 30px;
    height: 38px;
    background-image: url(/img/decor/h1decor.svg);
}

.article p {
    line-height: 1.5;
}

.article * {
    font-size: 20px;
    font-weight: bold;
    font-family: detail;
}

.blog-list > :not(:last-child) {
    border-bottom: 1px black solid;
}

.blog-link {
    color: black;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: 1fr 70px;
}

.blog-link-header-container {
    grid-column: 1;
    grid-row: 1;
}

.blog-link-header {
    margin: 0;
    font-weight: bold;
    font-size: large;
    padding-bottom: 6px;
}

.blog-link-description {
    padding-top: 8px;
    margin: 0;
    height: 40px;
    align-content: center;
    grid-column: 1 / 3;
    grid-row: 2;
    overflow: hidden;
}

.blog-link-date {
    display: inline-block;
    margin: 0;
    font-weight: lighter;
    font-family: detail;
    font-size: small;
    padding-bottom: 1px;
    grid-column: 2;
    grid-row: 1;
}

.blog-list {
    /* margin-left: 30px;
    margin-right: 30px; */
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    max-width: min(100%, 700px);
    margin: auto;
    width: 100%;
}

.blog-link-header {
    display: inline-block;
    position: relative;
}

.blog-link-header:before {
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    bottom: -3px;
    position: absolute;
    top: 0;
    font-weight: bold;
    border-bottom: 2px solid black;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateX(-50%) scaleX(0);
}

.blog-link:hover .blog-link-header:before {
    transform: translateX(0) scaleX(1);
}

.footnote-reference a {
    font-family: monospace;
    font-size: 12px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 40px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
}

.article p > a {
    position: relative;
    color: var(--link-color);
    transition: color 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

.article p > a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.article p > a:before {
    background-color: var(--link-color);
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    transform: translateX(-50%) scaleX(0);
    z-index: -1;
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

.article p > a:hover:before {
    transform: translateX(0) scaleX(1);
}

.footnote-definition {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.footnote-definition p {
    margin: 0;
    margin-left: 10px;
    margin-bottom: 5px;
    font-size: 15px;
    display: inline-block
}

#\31 {
    margin-top: 40px;
    border-top: 1px black dashed;
    padding-top: 40px;
}

.footnote-definition-label {
    font-weight: normal;
    font-family: monospace;
    font-size: 18px;
    border-radius: 40px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    top: 0px;
}

.footnote-definition:target .footnote-definition-label {
    color: whitesmoke;
    text-decoration: none;
    background-color: black;
}