{% macro footer() %}
    <footer class="site-footer">
        The website source code (CSS, HTML and zola macros) are available under the MIT license.
        All articles are available under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
        The website is built with <a href="getzola.org">Zola static site generator</a> 0.19.2.
        All decor (svgs in the `img/decor` directory) are designed by <a href="https://www.freepik.com">freepik.com</a> for
        terms see <a href="https://www.freepik.com/legal/terms-of-use">terms of use</a>.
    </footer>
{% endmacro %}