{% import 'macros/header.html' as macros_header %}
{% import 'macros/footer.html' as macros_footer %}

<!DOCTYPE html>
<html lang="en-US">
    <head>
{% if not section is undefined %}
        <title>{{ section.title }}</title>
{% else %}
        <title>{{ page.title }}</title>
{% endif %}

        <!-- Preloads -->
        <link rel="preload" as="image" href="/img/decor/site-border.svg">
        <link rel="preload" as="image" href="/img/decor/site-bot-border-decor.svg">
        <link rel="preload" as="image" href="/img/decor/site-top-border-decor.svg">

        <!-- Css stuff -->
        <link rel="preload" as="style" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="preload" as="style" href="/css/style.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/highlight.css">

        <!-- Look okay on mobile pls -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body><div class="app">
        {% block header %}
                {% if not section is undefined %}
                    {{ macros_header::header(current_url=section.path) }}
                {% else %}
                    {{ macros_header::header(current_url=page.path) }}
                {% endif %}
        {% endblock header %}
        <main class="site-content">
        {% block content %}
        {% endblock content %}
        </main>
        {% block footer %}
            {{ macros_footer::footer() }}
        {% endblock footer %}
    </div></body>
</html>