{% extends "page.html" %}

{% block content %}
    {{ super() }}
    {% set items = load_data(path="content/data/social.json", format="json") %}
    <main class="site-content"><ul class="social-links" role="menu">
    {% for item in items %}
        {% set item_id = item.title | slugify %}
        <li class="social-item button-link" id={{ item_id }}><a class="social-link" href={{ item.url }}>
            <img class="social-image" src={{ "/img/social/" ~ item_id ~ ".svg" }} alt="{{ item.title }} logo"/>
            {{ item.title }}
        </a></li>
    {% endfor %}
    </ul></main>
{% endblock content %}