{% extends "section.html" %}

{% block content %}
    {{ section.content | safe }}
    {% set items = load_data(path="content/data/projects.json", format="json") %}
    <main class="site-content"><ul class="project-grid" role="menu">
    {% for item in items %}
        {% set item_id = item.title | slugify %}
        <li class="project" id={{ item_id }}><a class="project-content" href={{ item.url }}>
            <div class="project-image-container">
                <img src={{ "/img/project/" ~ item_id ~ ".png" }} class="project-image" alt="{{ item.title }} thumbnail"/>
            </div>
            <div class="project-info">
                <h2 class="project-name">
                    {{ item.title }}
                </h2>
                <p class="project-description">
                    {{ item.description }}
                </p>
            </div>
        </a></li>
    {% endfor %}
    </ul></main>
{% endblock content %}