{% extends "section.html" %}

{% block content %}
    {{ section.content | safe }}
    {% set items = load_data(path="content/data/projects.json", format="json") %}
    <ul class="project-grid">
    {% for item in items %}
        <li class="project"><a class="project-content" href={{ item.url }}>
            <div class="project-image-container">
                <img src={{ item.img_src }} class="project-image"/>
            </div>
            <div class="project-info">
                <h2 class="project-name">
                    {{ item.title }}
                </h2>
                <p class="project-description">
                    {{ item.description }}
                </p>
            </div>
        </a></li>
    {% endfor %}
    </ul>
{% endblock content %}