on: 
  push:
    branches: ["main"]
name: Build-deploy
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Zola
        run: | 
          wget -q -O - \
          "https://github.com/getzola/zola/releases/download/v0.19.2/zola-v0.19.2-x86_64-unknown-linux-gnu.tar.gz" \
          | tar xzf - -C /usr/local/bin
      - uses: actions/checkout@v4
      - run: zola build
      - uses: actions/upload-pages-artifact@v4
        with:
          path: ./public/
  publish:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read 
      pages: write
    steps:
      - name: Push to GitHub pages
        uses: actions/deploy-pages@v4